div.first {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 840px;
  align-items: center;
  justify-items: center;
  margin-left: 260px;
  margin-top: 10px;
  border-style: solid;
  border-width: 20px;
  border-color: rgb(255, 255, 255);
  border-radius: 23px 23px 23px;
}
div.second {
  background-color: rgb(96, 199, 204);
  height: 350px;
  width: 390px;
  margin-left: 280px;
  margin-top: -640px;
  box-shadow: 5px 5px 10px rgb(85, 183, 174);
}

div.third {
  background-color: rgb(66, 174, 184);
  height: 250px;
  width: 390px;
  margin-left: 280px;
  margin-top: 20px;
  box-shadow: 5px 5px 10px rgb(66, 174, 184);
}
div.forth {
  background-color: rgb(74, 190, 198);
  height: 470px;
  width: 430px;
  margin-top: -470px;
  margin-left: 690px;
  box-shadow: 5px 5px 10px rgb(74, 190, 198);
}
div.fifth {
  background-color: rgb(47, 191, 194);
  height: 130px;
  width: 130px;
  margin-left: 690px;
  margin-top: -620px;
  box-shadow: 5px 5px 10px rgb(47, 191, 194);
}
div.sixth {
  background-color: rgb(14, 187, 193);
  height: 130px;
  width: 130px;
  margin-left: 840px;
  margin-top: -130px;
  box-shadow: 5px 5px 10px rgb(14, 187, 193);
}
div.seventh {
  background-color: rgb(15, 187, 193);
  height: 130px;
  width: 130px;
  margin-left: 990px;
  margin-top: -130px;
  box-shadow: 5px 5px 10px rgb(15, 187, 193);
}
b {
  color: rgba(29, 177, 158, 0.807);
  margin-left: 440px;
  margin-top: -50px;
  text-shadow: 2px 2px 4px white;
}
